html, body 
{
	height: 100%; /* new */
}

body
{
	margin : 0;/* new */
	padding : 0;/* new */
	background-color: whitesmoke;	
}

#mainArea
{
	position: relative;
	min-height: 100%;
	width : 100%;
	margin : 0 auto;
	margin-left: 0;
	padding-bottom: 30px;	
}

#sidebar
{
	width: 100px;
	height: 200px;
	position:absolute;
	left:0;
	top:0;
	float : left;
	width : 180px;
	margin : 0 10px 0 0;
	padding : 10px;
}

#content
{
	padding : 10px;
	margin-left : 200px;
	margin-bottom : 10px;
}

#emailBody
{
	font-size: small;
}

#header
{
	position: relative;	
	width : 100%;
	margin : 0 auto;
	padding-bottom: 30px;	
	height : 50px;
	padding : 0;
	margin-top : 0;
}

.showPrint
{
	display: none;
}

#footer
{
	clear:both;
	position: relative;
	bottom: 0;
	width: 100%;
}

#mainList
{
	list-style-type: none;
	margin-left: 5px;
	margin-right: 5px;
	background-color:lightgray;
	width: 70%;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  -o-border-radius: 5px;
	  -ms-border-radius: 5px;
	border-radius: 5px;    
}
#mainList li
{
	background-color:lightgray;
	margin-left: -40px;
	padding-left: 5px;
	padding-right: 5px;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  -o-border-radius: 5px;
	  -ms-border-radius: 5px;
	border-radius: 5px; 
}

#mainList li input
{
	background:none!important;
	border:none; 
	padding:0!important;
}

#changePasswordButton
{
	background:none!important;
	border:none; 
	padding:0!important;
	color: blue;
	font-size: xx-small;
	text-decoration: underline;
}

#changePasswordButton:hover
{
	color: darkblue;
}

#mainList li input:hover
{
	color: white;
} 

#searchBar
{
	float : right;
	text-align: right;
	width : 60%;
	margin : 0 10px 0 0;
	padding : 10px;
}

#tooltip
{
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background:lightGrey;
	text-align: center;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
	border-radius: 5px; 
}

#userStatus
{
	float : left;
	width : 30%;
	margin : 0 10px 0 0;
	padding : 10px;
}

#tabs
{
	position: relative;
	height: 100%;
	width: 100%;	
}

.searchTable tr td
{
	font-size: xx-small;
	padding-right: 10px;
	padding-left: 10px;
}

.searchTable tr th
{
	font-size: small;
	text-align: left;
	padding-right: 15px;
	padding-left: 15px;
}

.searchTable tr:hover
{
	background-color: lightgray;
}

.overflow
{
	overflow:auto;	
	height: 420px;
}

.reportOverflow
{
	overflow:auto;	
	height: 320px;
}

.modal 
{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

html.loading 
{
    overflow: hidden;   
}

html.loading .modal 
{
    display: block;
}